<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>task 1</title>
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
  <div class="container">
    <h1>Add User</h1>
    <form id="user-form">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name"><br>

      <label for="address">Address:</label><br>
      <input type="text" id="address" name="address"><br>

      <label for="contact">Phone no.:</label><br>
      <input type="number" id="contact" name="contact"><br>

      <button type="submit">Add user</button>
    </form>
  </div>

  <div class="list">
    <h1>User List</h1>
    <table id="user-table">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone no.</th>
        <th>Password</th>
        <th>Action</th>
      </tr>
    </table>
  </div>
  <script src="./javascripts/index.js"></script>
</body>
</html>