<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>practice question</title>
</head>

<body>
    <h1>Reverse a String</h1>
    <form id="user-form">
        <label for="input">input:</label>
        <input type="text" name="input" id="input">
        <button type="submit">enter</button><br><br>
        <label for="">reverse:</label>
    </form>

    <h1>Factorial Calculation</h1>
    <form id="user-form1">
        <label for="input1">input:</label>
        <input type="number" name="input1" id="input1">
        <button type="submit">enter</button><br><br>
        <label for="">Factorial:</label>
    </form>

    <h1>Palindrome Checker</h1>
    <form id="user-form2">
        <label for="input2">input:</label>
        <input type="text" name="input2" id="input2">
        <button type="submit">enter</button><br><br>
        <label for="">Palindrome:</label>
    </form>

    <h1> Find the Longest Word</h1>
    <form id="user-form3">
        <label for="input">input:</label>
        <input type="text" name="input" id="input">
        <button type="submit">enter</button><br><br>
        <label for="">Longest Word:</label>
    </form>

    <h1>FizzBuzz</h1>
    <form id="user-form4">
        <button type="submit">enter</button><br><br>
        <label for="">FizzBuzz:</label>
    </form>

    <h1> Sum of Array Elements</h1>
    <form id="user-form5">
        <label for="input">input:</label>
        <input type="text" name="input" id="input">
        <button type="submit">enter</button><br><br>
        <label for="">Sum:</label>
    </form>

    <h1> sentence to title case</h1>
    <form id="user-form6">
        <label for="input">input:</label>
        <input type="text" name="input" id="input">
        <button type="submit">enter</button><br><br>
        <label for="">title case:</label>
    </form>

    <h1> counts the number of vowels</h1>
    <form id="user-form7">
        <label for="input">input:</label>
        <input type="text" name="input" id="input">
        <button type="submit">enter</button><br><br>
        <label for="">title case:</label>
    </form>

    <h1>Fibonacci Sequence</h1>
    <form id="user-form8">
        <label for="input">input:</label>
        <input type="text" name="input" id="input">
        <button type="submit">enter</button><br><br>
        <label for="">Fibonacci Sequence:</label>
    </form>

    <h1>Anagram Checker</h1>
    <form id="user-form9">
        <label for="input1">input1:</label>
        <input type="text" name="input1" id="input1"><br>
        <label for="input2">input2:</label>
        <input type="text" name="input2" id="input2">
        <button type="submit">enter</button><br><br>
        <label for="">Anagram checker:</label>
    </form>

    <h1>Missing Number</h1>
    <form id="user-form10">
        <label for="input1">input:</label>
        <input type="text" name="input1" id="input1">
        <button type="submit">enter</button><br><br>
        <label for="">Missing Number:</label>
    </form>

    <h1>Duplicate array</h1>
    <form id="user-form11">
        <label for="input1">input:</label>
        <input type="text" name="input1" id="input1">
        <button type="submit">enter</button><br><br>
        <label for="">duplicate array:</label>
    </form>

    <h1>Calculate the Power</h1>
    <form id="user-form12">
        <label for="input1">input(x):</label>
        <input type="number" name="input1" id="input1"><br>
        <label for="input2">input(n):</label>
        <input type="number" name="input2" id="input2">
        <button type="submit">enter</button><br><br>
        <label for="">Power of given number:</label>
    </form>

    <h1>Merge arrays</h1>
    <form id="user-form13">
        <label for="input1">input1:</label>
        <input type="text" name="input1" id="input1"><br>
        <label for="input2">input2:</label>
        <input type="text" name="input2" id="input2">
        <button type="submit">enter</button><br><br>
        <label for="">final array:</label>
    </form>
    
    <h1>second largest number</h1>
    <form id="user-form14">
        <label for="input1">input1:</label>
        <input type="text" name="input1" id="input1">
        <button type="submit">enter</button><br><br>
        <label for="">second largest number in array:</label>
    </form>
    
    <h1>reverse words</h1>
    <form id="user-form15">
        <label for="input1">input1:</label>
        <input type="text" name="input1" id="input1">
        <button type="submit">enter</button><br><br>
        <label for="">revered words:</label>
    </form>
    
    <h1>validate email address</h1>
    <form id="user-form16">
        <label for="input1">email:</label>
        <input type="email" name="input1" id="input1">
        <button type="submit">enter</button><br><br>
        <label for="">validate status:</label>
    </form>

    <h1>common elements</h1>
    <form id="user-form17">
        <label for="input1">input1:</label>
        <input type="text" name="input1" id="input1"><br>
        <label for="input2">input2:</label>
        <input type="text" name="input2" id="input2">
        <button type="submit">enter</button><br><br>
        <label for="">common elements in the given arrays:</label>
    </form>

    <h1>Check for Balanced Brackets</h1>
    <form id="user-form18">
        <label for="input1">input1:</label>
        <input type="text" name="input1" id="input1">
        <button type="submit">enter</button><br><br>
        <label for="">status:</label>
    </form>
    <script src="./javascripts/practice_question.js"></script>
</body>

</html>